{% extends 'app/base.html' %}

{% block content %}
<p>About Me</p>

<a class="about">
    <h2>
        <span>Hello! My name is Ian Rey D. Porras, and I am 20 years old.</span><br>
        <span>I am currently studying BSIT 3-3 at CVSU Bacoor Campus.</span><br>
        <span>I enjoy playing online games, and I often spend my time watching One Piece.</span><br>
        <span>I live in Green Valley Molino 2. I love meeting new people and learning new things!</span>
    </h2>
</a>
<hr style="border: 1px solid black; width: 20%; margin: auto; margin-top: 100px;">
{% endblock content %}

